<html>
 <body>
   <p id="notice">
    <%= flash[:notice] %>
   </p>
   <div>
 　 <strong>Title:</strong>
 　 <%= @book.title %>
 　</div>
 　<div>
 　 <strong>Body:</strong>
 　 <%= @book.body %>
 　 </div>
   <p>
    <%= link_to "Edit",edit_book_path(@book.id) %> |
    <%= link_to "Back","/books" %>
   </p>
 </body>
</html>